body {
  background: pink; }

div {
  position: relative;
  top: 10px;
  width: 200px;
  height: 200px;
  margin: 10px;
  padding: 10px;
  font-size: 12px;
  color: #000;
  border: red solid 1px;
  background: red;
  border-radius: 10px; }
